body{
    background: #0F0C24;
}
.left{
    color:#C1436D
}

.button {
    outline: 0;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    /* overflow: hidden; */
    cursor: pointer;
    border: 2px solid #C1436D;
    background: #C1436D;
    color: white;
    font-weight: 400;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
    border-radius: 10px;
}
.button:hover {
    background-color: #C1436D;
    color: white;
    box-shadow: 0 0 5px #C1436D,
                0 0 20px rgb(255,0,119),
                0 0 35px rgb(255,0,119),
                0 0 50px rgb(255,0,119);
    border-color: #C1436D;
}

.joshstyles {
    border-color: #C1436D !important;
}

.my-button {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: #C1436D;
    color: white; 
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .my-button:hover {
    background-color: #C1436D;
    color: white;
    box-shadow: 0 0 5px #C1436D,
                0 0 20px rgb(255,0,119),
                0 0 35px rgb(255,0,119),
                0 0 50px rgb(255,0,119);
    border-color: #C1436D;
  }
.empty:empty{
    display: none;
}

.boxes{
    margin: 20px;
    margin-top: 150px;
    background-color: rgb(198,177,198);
    overflow: hidden;
    height: 480px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 12px 18px -6px rgb(0,0,0,0.3);
 }
 .boxTodo{
    height: 580px;
    width: 400px;
    background-color: rgb(198,177,198);
 }
.labelTodo{
    color: white;
}